* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */

header{
    position: fixed;
    top:0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    /* background-color: rgb(6, 6, 105); */
    background-color: rgb(2, 71, 120);
}

header div{
    margin-left: 70px;
    width: 180px;
    margin-top: 5px;
}

header #header_img{
    width: 100%;
}

/*  */

#wrap_main{
    margin-top: 75px;
}

#select-panel{
    width: 250px;
    position: absolute;
    background-color: whitesmoke;
    border: 3px solid black;
}